{% extends 'layout-default.njk' %}

{% block themeBody %}
  <header id="main-header" class="header-grid-area">
    {% block header %}
      {% include 'partials/header.njk' %}
    {% endblock header%}
  </header>

  <div class="ga-content-main">
    <p>
      <img src="{{ '_assets/_static/images/grill.jpg' | asset | url }}" role="presentation"/>
    </p>
    <p>I was helped by reading books authored by John Elder Robinson, who writes of his experiences as an aspie</p>
    <p><a href="/about/">About</a> begins the process of extending that practice to others - either aspie or others who live with aspies.</p>
  </div>
  <div id="right-panel" class="ga-content2-side"></div>

  <footer class="site-footer ga-foot-main"></div>


  <div class="sidebar-grid-area">
    {% block sidebar %}
      {% include 'partials/_layoutHome/sidebar.njk' %}
    {% endblock sidebar %}
  </div>


  {% include 'partials/bottom.njk' %}
{% endblock themeBody %}
